Source: clucy
Section: java
Priority: optional
Maintainer: Phil Hagelberg <technomancy@gmail.com>
Build-Depends: debhelper (>> 8), javahelper (>= 0.32)
Build-Depends-Indep: openjdk-6-jdk
Standards-Version: 3.9.2
Homepage: https://github.com/weavejester/clucy

Package: libclojure-clucy
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}, openjdk-6-jre | java2-runtime, clojure1.2 | clojure, liblucene2-java
Recommends: ${java:Recommends}
Description: Clojure interface to the Lucene search engine
 A simple Clojure interface to the Lucene search engine.
