Source: clucy
Section: java
Priority: optional
Maintainer: Phil Hagelberg <technomancy@gmail.com>
Build-Depends: debhelper (>> 7), javahelper (>= 0.32) 
Build-Depends-Indep: openjdk-6-jdk
Standards-Version: 3.8.3
Homepage: https://github.com/weavejester/clucy

Package: libclucy
Architecture: all
Depends: clojure1.2 | clojure, openjdk-6-jre | java2-runtime, liblucene2-java
Description: Clojure interface to the Lucene search engine
 A simple Clojure interface to the Lucene search engine.
